<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

          <style>
            .df,.col{
                text-align: center;
            }
          </style>
</head>
<body>

    <div class="middle">
    <h1 class="df"> Ticket Booking Application</h1> 
    </div>
<br>
<br>

    <div class="row">

        <div class="col">

            <form action="/login" method="GET">
                <button type="submit" class="btn btn-primary">Admin Login</button>
              </form><br>
        </div>
        
    </div>
<br>
    <div class="row">

        <div class="col">
            <form action="/login">
                <button type="submit" class="btn btn-primary">User Login</button>
              </form><br>
        </div>
        
    </div>


</body>
</html>